<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Website | Search and know about the weather</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/weather-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header}}
    <section class="main-body">
        <div class="about-card">
            <div class="profile-pic">
                <img src="/images/profile-pic.jpg" alt="profile pic">
            </div>
            <div class="details">
                <h2>Anshul Chauhan</h2>
                <p>I am a Computer Science Engineer. I love to work on live
                    projects and webpages. This website uses data from mapbox.com and weatherstack.com
                </p>
            </div>
        </div>
    </section>
    
    {{>footer}}

</body>
<style>
    .act2{
        background: gray;
        color: white;
        padding: 1rem 3rem;
        border-radius: 2rem;
    }
</style>
</html>