<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Website | Search and know about the weather</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/weather-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header}}
    <section class="main-body">
        <div class="help-card">
            <div class="contact">
                <h3>Please contact for any query</h3>
                <h3>email: anshulchauhanhamirpur@gmail.com</h3>
                <h3>phone: 7807241212</h3>
            </div>
            <div class="thankyou-img">

            </div>
        </div>
    </section>
    {{>footer}}

</body>
<style>
    .act3{
        background: gray;
        color: white;
        padding: 1rem 3rem;
        border-radius: 2rem;
    }
</style>
</html>