<footer>
    <div class="footer-wrapper">
        <h5>Created by {{name}} &copy;</h5>
        <div class="links">
            <ul>
                <li><a href="https://twitter.com/Carbonix72"><img src="/icons/twitter 1.svg" alt="twitter-social"></a></li>
                <li><a href="https://www.facebook.com/anshulhamirpur/"><img src="/icons/facebook-f.svg" alt="facebook-social"></a></li>
                <li><a href="https://www.instagram.com/carbonix72/"><img src="/icons/instagram 1.svg" alt="instagram-social"></a></li>
            </ul>
        </div>
    </div>
</footer>