<header class="main-head">

    <nav>
        <div id="head-title">
            <h1>{{title}}</h1>
        </div>

        <ul>
            <li><a class="act1" href="/">Home</a></li>
            <li><a class="act2" href="/about">About</a></li>
            <li><a class="act3" href="/help">Help</a></li>
        </ul>
    </nav>


</header>